
*-blx.bib
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.bit
*.blg
*.crlrs
*.defs
*.dvi
*.ent
*.exs
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.ist
*.loa
*.lof
*.log
*.lot
*.mw
*.otf
*.out
*.pros
*.run.xml
*.slg
*.slo
*.sls
*.synctex(busy)
*.synctex.gz
*.tdo
*.thms
*.toc
*.txss
*.out.ps